body { padding-top: 70px; }

.bs-footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 40px;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    color: #777;
}
@media (min-width: 768px) {
    .bs-footer { text-align: left; }
    .bs-footer p { margin-bottom: 0; }
}

/* Buttons */
.btn-pdf {
    background-color: #F90;
    border-color: #F60;
}
.btn-pdf:hover {
    background-color: #F60;
    border-color: #F90;
}

/* Form Login Specific Stuff */
.form-login {
    padding: 15px;
    margin: 0 auto;
}
.form-login .form-control {
    position: relative;
    height: auto;
    padding: 1em;
	margin-bottom: .5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-login .btn-primary {
    margin: 10px 0;
}

/* Max-width sizes */
.uc-small {
    max-width: 330px;
}
.uc-medium {
    max-width: 768px;
}
.uc-large {
    max-width: 1024px;
}

/* Box stuff */
.rounded-border {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-collapse: inherit;
}

.uc-box {
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-collapse: inherit;
}
.uc-box .uc-header,
.uc-box .uc-footer {
    padding: 1em;
    margin: 0;
}
.uc-box .uc-header h2,
.uc-box .uc-footer h2 {
    margin: 0;
    padding: 0;
}

.uc-box .uc-header {
    margin-bottom: 1em;
    background-color: #090;
    border-bottom: 1px solid #060;
}
.uc-box .uc-footer {
    margin-top: 1em;
    background-color: #CCC;
    border-top: 1px solid #999;
}
